.header {
    justify-content: center;
    text-align:center;
}
ol li {
    list-style-position: inside;
    text-decoration-color: rgb(67, 136, 196);
    color: rgb(5, 5, 5);
}
.exam {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#table {
    line-height:200%;
    border: 5px solid black;
}
footer {
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left:  30px;
    background: rgb(74, 99, 241);
    color: rgb(0, 0, 0);
}
a.foo:hover {
  text-decoration-color: black;
  color: black;
}
a.foo {
  text-decoration-color: rgb(234, 234, 234);
  color: rgb(238, 238, 238);
}
